<section class="container">
	<section class="main">
		<h2>Faculty</h2>

		<mat-list>
		  <h3 mat-subheader>Faculty List</h3>
		  <mat-list-item *ngFor="let teacher of faculty">
		    <h4 mat-line>{{teacher.name}}</h4>
		    <p mat-line> {{teacher.quali}} </p>
		    <mat-icon mat-list-icon *ngIf="teacher.name" matTooltip="Edit" (click)="openEdit(teacher.id)">edit</mat-icon>
		    <mat-icon mat-list-icon *ngIf="teacher.name" matTooltip="Edit" (click)="openDelete(teacher.id)">delete</mat-icon>
		  </mat-list-item>
		  <mat-divider></mat-divider>
		</mat-list>
		<button mat-raised-button (click)="openAdd()"><mat-icon>add</mat-icon></button>

	</section>
</section>