<section class="container" *ngIf="theBatch && !updating">
  <section class="status"><span class="fill"></span><button mat-mini-fab (click)="onNoClick()"><mat-icon>close</mat-icon></button></section>

  <span><h2>Edit Batch Schedule</h2></span>


  <mat-form-field style="display: none;">
    <input matInput placeholder="Id" value="{{theBatch.id}}" #id>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Batch" value="{{theBatch.batch}}"  #batch>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Timeing"  value="{{theBatch.btime}}" #btime>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Day"  value="{{theBatch.day}}" #time>
  </mat-form-field>
	
  <br>
  <button mat-raised-button color="primary" (click)="updateSchedule(id.value, batch.value, btime.value, time.value)">Update</button>
</section>
<section class="updating" *ngIf="updating">
	<mat-spinner></mat-spinner>
</section>